body{

margin:0;
overflow:hidden;
background:black;
color:white;
font-family:sans-serif;

}

#menu{

position:absolute;
top:10px;
left:10px;
background:#222;
padding:10px;
border-radius:10px;

}

#shop,#team,#pokedex{

position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#222;
padding:20px;
display:none;

}

#battle{

position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%);
background:#222;
padding:20px;
display:none;

}

.hp{

width:200px;
height:20px;
background:#444;

}

#enemyHP{

height:100%;
background:red;
width:100%;

}

#playerHP{

height:100%;
background:lime;
width:100%;

}

#enemySprite{

width:200px;

}

#joystick{

position:absolute;
bottom:40px;
left:40px;
width:150px;
height:150px;

}
